body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

#series {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center; /* Center the text in each box */
}

.box {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  margin: 0 auto; /* Center the box horizontally */
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

img.shake {
  animation: shake 0.5s ease-in-out 3; /* 3 times */
}

img.figure {
  max-width: 100%; /* Adjust the size as needed */
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}
