body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  word-wrap: break-word; 
  text-align: center;
}

#series {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.box {
  width: 100%;
  max-width: 200px; /* Adjust the maximum width as needed */
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

img.shake {
  animation: shake 0.5s ease-in-out 3; /* 3 times */
}

img.figure {
  max-width: 50%; /* Adjust the size as needed */
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens if needed */
  #series {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }
  h1 {
    font-size: 1.5em; /* Adjust the font size for smaller screens */
  }
  .box {
    max-width: 110px;
  }
}
